<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.author_name.label }}
        <p>{{ form.author_name }}</p>
        {{ form.book_name.label }}
        <p>{{ form.book_name }}</p>
        {{ form.submit }}
    </form>
    <hr/>
    <ul>
        {% for author in authors %}
        <li>
            作者：{{ author.name }}
            <ul>
                {% for book in author.books %}
                <li>书籍：{{ book.name }}</li><a href="{{ url_for('delete_book', id=book.id) }}">删除</a>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>